@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-geist;
}

select {
  background: #FFF8E9;
  border: 0;
  box-shadow: none;
  
}

.dropdown-arrow {
  background: #FFF8E9;
  border: 0;
  box-shadow: none;
}